.btn {
	transition: all .3s ease;
	height: fit-content;
	padding: 10px 15px;

	&:hover {
		transition: all .3s ease;
	}

	&.btn {

		&-primary {			
			background-color: var(--wp-brand-color);
			border-color: var(--wp-brand-color);
			@include one-chonk-corner(2px);
			color: var(--wp-white-color);
			background-position: 150%;
			padding: 10px 15px;
			min-height: 39px;
			line-height: 1;

			&:active,
			&:hover {
				background: var(--wp-brand-color) url('../../assets/img/svg/btn-r-w.svg') 90% center / auto no-repeat !important;
				border-color: var(--wp-brand-color) !important;
				color: var(--wp-white-color);
				padding-right: 50px;
			}
		}

		&-secondary {
			background-color: var(--wp-white-color);
			border-color: var(--wp-white-color);
			@include one-chonk-corner(2px);
			color: var(--wp-black-color);
			background-position: 150%;
			padding: 10px 15px;
			min-height: 39px;
			line-height: 1;

			&:active,
			&:hover {
				background: var(--wp-white-color) url('../../assets/img/svg/btn-r-b.svg') 90% center / auto no-repeat !important;
				border-color: var(--wp-white-color) !important;
				color: var(--wp-black-color);
				padding-right: 50px;
			}
		}

		&-dark {
			background-color: var(--wp-text-color);
			color: var(--wp-white-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-text-color) !important;
				color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-light {
			background-color: var(--wp-white-color);
			border-color: var(--wp-white-color);
			color: var(--wp-black-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-success {
			background-color: var(--wp-green-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-info {
			background-color: var(--wp-light-bg-color);
			color: var(--wp-black-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-link {
			background-color: transparent;
			color: var(--wp-black-color);
			line-height: 1;

			&:active,
			&:hover {
				background-color: transparent !important;
				color: var(--wp-black-color) !important;
				padding-right: 50px;
			}
		}
	}
}

.wp-block-button {

	&.wc-block-components-product-button {

		.wc-block-components-product-button {
			
			&__button {
				background-color: var(--wp-green-color);
				color: var(--wp-white-color) !important;
				font-weight: $font-weight-bold;
				background-position: 150%;
				transition: all .3s ease;
				border-radius: 5px;
				padding: 10px 15px;
				line-height: 1;

				span {
					color: var(--wp-white-color) !important;
					font-weight: $font-weight-bold;
				}

				&:active,
				&:hover {
					background: var(--wp-brand-color) url('../../assets/img/svg/btn-cart.svg') 90% center / auto no-repeat !important;
					background-color: var(--wp-green-color) !important;
					color: var(--wp-white-color) !important;
					transition: all .3s ease;
					padding-right: 50px;
				}
			}
		}
	}
}

.woocommerce div.product form.cart button.single_add_to_cart_button, 
.woocommerce div.product form.cart button[name=add-to-cart] {
	background-color: var(--wp-green-color);
	color: var(--wp-white-color) !important;
	font-weight: $font-weight-bold;
	background-position: 150%;
	transition: all .3s ease;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px auto;
	line-height: 1;	
	width: 100%;

	span {
		color: var(--wp-white-color) !important;
		font-weight: $font-weight-bold;
	}

	&:active,
	&:hover {
		background: var(--wp-brand-color) url('../../assets/img/svg/btn-cart.svg') 90% center / auto no-repeat !important;
		background-color: var(--wp-green-color) !important;
		color: var(--wp-white-color) !important;
		transition: all .3s ease;
		padding-right: 50px;
	}
}

.post-edit-link {
	transition: all 0.3s ease-out;
	background-color: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
	font-family: Arial, Helvetica, sans-serif;	
	border: rgba(255,255,255,0.8) solid;
	border-width: 2px 2px 2px 0;
	border-radius: 0 10px 10px 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 7px 10px;
	position: fixed;
	font-size: 11px;
	bottom: 12vh;
	opacity: 0.3;
	left: 0;
	z-index: 999;

	&:hover {
		text-decoration: none;
		padding-left: 25px;
		color: white;
		opacity: 0.7;	
	}
}

.wp-site-blocks {

	.swiper-pagination {

		&-bullet {
			background: linear-gradient(89.59deg, rgba(255, 255, 255, 0.2) 1.07%, rgba(255, 255, 255, 0.035) 59.75%),linear-gradient(93.65deg, rgba(255, 255, 255, 0.035) 80.51%, rgba(255, 255, 255, 0.2) 111.61%);
			position: relative;
			padding: 3px;
			height: 10px;
			width: 10px;

			&-active {

				&::before {
					content:'';
					background-color: var(--wp-white-color);
					transform: translate(-50%,-50%);					
					border-radius: 100%;
					position: absolute;
					display: block;
					height: 4px;
					width: 4px;
					left: 50%;
					top: 50%;
				}
			}
		}
	}

	.swiper-nav {
		position: relative;
		display: block;			
		z-index: 2;

		.wp-block-image {
			align-items: flex-end;

			img {
				cursor: pointer;
			}
		}
	}

	.wc-block-product-categories__button {
		background-color: var(--wp-brand-color);
		border-color: var(--wp-brand-color);
		box-shadow: none !important;
		outline: unset !important;
		border-radius: 0 8px 8px 0;
		margin-left: -2px;
		border: 0;

		svg {
			fill: var(--wp-white-color);
		}
	}
}