.btn {
	transition: all .3s ease;
	height: fit-content;
	padding: 10px 15px;

	&:hover {
		transition: all .3s ease;
	}

	&.btn {

		&-primary {			
			background-color: var(--wp-brand-color);
			border-color: var(--wp-brand-color);
			border-radius: 0 15px 0 0;
			color: var(--wp-white-color);
			background-position: 150%;
			padding: 10px 15px;
			min-height: 39px;
			line-height: 1;

			&:active,
			&:hover {
				background: var(--wp-brand-color) url('../../assets/img/svg/btn-r-w.svg') 90% center / auto no-repeat !important;
				border-color: var(--wp-brand-color) !important;
				color: var(--wp-white-color);
				padding-right: 50px;
			}

			&.account-ico {
				display: inline-block;
				white-space: nowrap;

				@include media-breakpoint-down(xl) {
					display: block !important;
					position: relative;
					padding: 8px 10px;
					font-size: 0;
				
					&::before {
						content: url('../../assets/img/svg/account_ico.svg');
						vertical-align: middle;
						display: inline-block;
					}

					&:active,
					&:hover {
						background: var(--wp-brand-color) !important;
						padding: 8px 10px;
						opacity: 0.7;
					}
				}
			}				
		}

		&-secondary {
			background-color: var(--wp-white-color);
			border-color: var(--wp-white-color);
			color: var(--wp-black-color);
			border-radius: 0 15px 0 0;
			background-position: 150%;
			padding: 10px 15px;
			min-height: 39px;
			line-height: 1;

			&:active,
			&:hover {
				background: var(--wp-white-color) url('../../assets/img/svg/btn-r-b.svg') 90% center / auto no-repeat !important;
				border-color: var(--wp-white-color) !important;
				color: var(--wp-black-color);				
				padding-right: 50px;
			}

			&.btn-back {
				background-position: 5%;
				position: relative;
				z-index: 2;
				
				&:active,
				&:hover {
					background: var(--wp-white-color) url('../../assets/img/i/btn-l-b.png') 10% center / auto no-repeat !important;
					border-color: var(--wp-white-color) !important;
					color: var(--wp-black-color);
					padding-left: 50px;
				}
			}
		}

		&-dark {
			background-color: $grey-txt;
			color: var(--wp-white-color);
			position: relative;
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: rgba($grey-txt,0.85) !important;
				color: var(--wp-white-color) !important;
			}

			&--back {

				&:active,
				&:hover {
					color: var(--wp-white-color) !important;
					padding-left: 50px;

					&::before {
						content: url('../../assets/img/svg/btn-r-w.svg');
						transform: rotate(180deg);
						position: absolute;
						left: 15px;
    					top: 10px;
					}
				}
			}
		}

		&-light {
			background-color: var(--wp-white-color);
			border-color: var(--wp-white-color);
			color: var(--wp-black-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-success {
			background-color: var(--wp-green-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-info {
			background-color: var(--wp-light-bg-color);
			color: var(--wp-black-color);
			border-radius: 5px;
			padding: 10px 15px;
			line-height: 1;

			&:active,
			&:hover {
				background-color: var(--wp-white-color) !important;
				border-color: var(--wp-white-color) !important;
				padding-right: 50px;
			}
		}

		&-link {
			background-color: transparent;
			color: var(--wp-black-color);
			line-height: 1;

			&:active,
			&:hover {
				background-color: transparent !important;
				color: var(--wp-black-color) !important;
				padding-right: 50px;
			}
		}
	}
}

.wp-block-button {

	&.wc-block-components-product-button {

		.wc-block-components-product-button {
			position: relative;
			
			&__button {
				background-color: var(--wp-green-color);
				color: var(--wp-white-color) !important;
				font-weight: $font-weight-bold;
				background-position: 150%;
				transition: all .3s ease;
				border-radius: 5px;
				padding: 10px 15px;
				line-height: 1;

				span {
					color: var(--wp-white-color) !important;
					font-weight: $font-weight-bold;
				}

				&:active,
				&:hover {
					background: var(--wp-brand-color) url('../../assets/img/svg/btn-cart.svg') 90% center / auto no-repeat !important;
					background-color: var(--wp-green-color) !important;
					color: var(--wp-white-color) !important;
					transition: all .3s ease;
					padding-right: 50px;
				}
			}
		}
	}
}

// Cookie plugin buttons
.cky-prefrence-btn-wrapper,
.cky-notice-btn-wrapper {

	.cky-btn {
		border-color: var(--wp-brand-color) !important;
		border-radius: 5px !important;

		&:not(.cky-btn-accept) {
			color: var(--wp-brand-color) !important;
		}

		&-accept {
			background-color: var(--wp-brand-color) !important;
		}
	}
}

.cky-btn-revisit-wrapper {
	background-color: var(--wp-brand-color) !important;
}

.wp-element-button:not(.wc-block-components-drawer__close,.wp-block-search__button,.wc-forward) {			
	background-color: var(--wp-brand-color);
	border-color: var(--wp-brand-color);
	border-radius: 0 15px 0 0;
	color: var(--wp-white-color);
	background-position: 150%;
	padding: 10px 15px;
	min-height: 39px;
	line-height: 1.1;
	border: 0;

	&:active,
	&:hover {
		background: var(--wp-brand-color) url('../../assets/img/svg/btn-r-w.svg') 90% center / auto no-repeat !important;
		border-color: var(--wp-brand-color) !important;
		color: var(--wp-white-color);
		padding-right: 50px;
	}
}

.woocommerce div.product form.cart button.single_add_to_cart_button, 
.woocommerce div.product form.cart button[name=add-to-cart] {
	background-color: var(--wp-green-color);
	color: var(--wp-white-color) !important;
	font-weight: $font-weight-bold;
	background-position: 150%;
	transition: all .3s ease;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px auto;
	line-height: 1;	
	width: 100%;
	border: 0;

	span {
		color: var(--wp-white-color) !important;
		font-weight: $font-weight-bold;
	}

	&:active,
	&:hover {
		background: var(--wp-brand-color) url('../../assets/img/svg/btn-cart.svg') 90% center / auto no-repeat !important;
		background-color: var(--wp-green-color) !important;
		color: var(--wp-white-color) !important;
		transition: all .3s ease;
		padding-right: 50px;
	}
}

#fancybox {

	&-outer {
		border-radius: 0;

		@include media-breakpoint-down(md) {
			max-width: calc(100vw - 40px);
		}
	}

	&-title-over {
		font-size: $body-size;
		text-align: center;
		font-weight: 600;    	
	}

	&-close {
		background: rgba($black,0.7) url('../../assets/img/i/close-x.png') center / auto 28px no-repeat !important;
		background-color: rgba($black,0.7) !important;
		top: -20px !important;
		right: -20px !important;

		& > span {
			display: none !important;
		}
	}

	&-prev {
		background: rgba($black,0.7) url('../../assets/img/svg/arr-l.svg') 15px center / auto 28px no-repeat !important;
		left: -20px !important;

		& > span {
			display: none !important;
		}
	}

	&-next {
		background: rgba($black,0.7) url('../../assets/img/svg/arr-r.svg') 18px center / auto 28px no-repeat !important;
		right: -20px !important;

		& > span {
			display: none !important;
		}
	}
}

.post-edit-link {
	transition: all 0.3s ease-out;
	background-color: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
	font-family: Arial, Helvetica, sans-serif;	
	border: rgba(255,255,255,0.8) solid;
	border-width: 2px 2px 2px 0;
	border-radius: 0 10px 10px 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 7px 10px;
	position: fixed;
	font-size: 11px;
	bottom: 12vh;
	opacity: 0.3;
	left: 0;
	z-index: 999;

	&:hover {
		text-decoration: none;
		padding-left: 25px;
		color: white;
		opacity: 0.7;	
	}
}

.wp-site-blocks {

	.swiper-pagination {

		&-bullet {
			background: linear-gradient(89.59deg, rgba(255, 255, 255, 0.2) 1.07%, rgba(255, 255, 255, 0.035) 59.75%),linear-gradient(93.65deg, rgba(255, 255, 255, 0.035) 80.51%, rgba(255, 255, 255, 0.2) 111.61%);
			position: relative;
			padding: 3px;
			height: 10px;
			width: 10px;

			&-active {

				&::before {
					content:'';
					background-color: var(--wp-white-color);
					transform: translate(-50%,-50%);					
					border-radius: 100%;
					position: absolute;
					display: block;
					height: 4px;
					width: 4px;
					left: 50%;
					top: 50%;
				}
			}
		}
	}

	.swiper-nav {
		position: relative;
		display: block;			
		z-index: 2;

		.wp-block-image {
			align-items: flex-end;

			img {
				cursor: pointer;
			}
		}
	}

	.wc-block-product-categories__button {
		background-color: var(--wp-brand-color);
		border-color: var(--wp-brand-color);
		box-shadow: none !important;
		outline: unset !important;
		border-radius: 0 8px 8px 0;
		margin-left: -2px;
		border: 0;

		svg {
			fill: var(--wp-white-color);
		}
	}
}

.woocommerce-form .button {
	background-color: var(--wp-brand-color);
	border-color: var(--wp-brand-color);
	border-radius: 0 15px 0 0;
	color: var(--wp-white-color);
	background-position: 150%;
	padding: 10px 15px;
	min-height: 39px;
	line-height: 1;
	border: 0;

	&:active,
	&:hover {
		background: var(--wp-brand-color) url('../../assets/img/svg/btn-r-w.svg') 90% center / auto no-repeat !important;
		border-color: var(--wp-brand-color) !important;
		color: var(--wp-white-color);
		padding-right: 50px;
	}
}

.scroll-down {
	background: url('../../assets/img/svg/sc-down.svg') center / 100% auto no-repeat;
	animation: up-down 3s ease-in-out infinite alternate-reverse both;
	position: absolute !important;
	transform: translateX(-50%);
	margin-left: -16px;
	text-align: center;
	cursor: pointer;
	height: 32px;
	width: 32px;
	bottom: 7vh;
	z-index: 2;
	left: 50%;

	@include media-breakpoint-down(sm) {
		bottom: 15vh;
	}
}

.scroll-up {
	box-shadow: 0px 3px 15px rgba($grey-txt,0.5);
	animation: fade-in-up 2s linear both;
	background-color: rgba($grey-txt,0.85);
	transition: all .3s ease-out;
	border-radius: 16px 16px 0 0;
	cursor: pointer;
	position: fixed;
	bottom: -10px;
	right: 90px;
	width: 65px;
	height: 45px;	
	z-index: 999;

	&.hidden {
		display: none;
	}
	
	&::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		border-right: 0.2em solid $white;
		border-top: 0.2em solid $white;
		transform: rotate(-45deg);
		left: 50%;
		margin-top: 16px;
		margin-left: -8px;
	}

	@include media-breakpoint-down(lg) {
		right: 1%;
	}
	
	&:hover {
		bottom: 0;
		background-color: $white;
		transition: all .3s ease-out;

		&::after {
			border-right: 0.2em solid $brandcolor;
			border-top: 0.2em solid $brandcolor;
			margin-top: 20px;
		}
	}
}