.wp-site-blocks>footer {
    --bs-link-hover-color-rgb: #fff;
	--bs-link-color-rgb: #fff;	
	padding: 40px 0;
	max-width: 100vw;
	overflow: hidden;

	p, li, span, address {
		color: var(--wp-text-color);
	}

	.h4 {
		font-weight: $weight-bold;
		font-size: 16px;
	}

	.foo-copy {
		max-width: fit-content;
		white-space: nowrap;
		padding-right: 20px;
		position: relative;

		@include media-breakpoint-down(sm) {
			font-size: var(--bs-font-size-small);
			white-space: wrap;
			max-width: 270px;
		}
	}
}