// WP style fix
:root :where(a:where(:not(.wp-element-button))) {
	text-decoration: unset;
}

html {
	scroll-padding-top: 0 !important;
	margin-top: 0 !important;
    overflow-x: hidden;
	max-width: 100vw;
	margin: 0;
}

body {
    margin: 0;
}

// Alpine JS
[x-cloak] {
	display: none !important;
}

/*
* SCROLLBAR
*/
@include media-breakpoint-down(xl) {

	::-webkit-scrollbar-track {
		border-radius: 3px;
		background-color: transparent;
	}

	::-webkit-scrollbar {
		background-color: transparent;
		height: 3px;
		width: 3px;
		
	}

	::-webkit-scrollbar-thumb {
		border-radius: 3px;		
	}
}

.entry-content {
    padding: 0;
}

.dgwt-wcas-search-wrapp {
	margin: auto 0 !important;
    height: fit-content;
}

.faux-link__element {
	position: relative;

	.faux-link__overlay-link {
		text-indent: 200%;
		visibility: visible;
		white-space: nowrap;
		position: absolute;
		overflow: hidden;
		max-width: none;
		display: block;
		z-index: 5;
		opacity: 0;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
}
	
.above-faux {
	position: relative;
	z-index: 7 !important;
}

hr.is-style-wide {
	width: 100%;
}

a {
	transition: all .2s ease;

	&:hover {
		transition: all .2s ease;
	}
}