.wp-site-blocks > header {
	background-color: var(--wp-light-bg-color);
	position: fixed;	
	width: 100%;
	z-index: 99;
	left: 0;
	top: 0;

	.container:first-child {
		position: relative;
		padding: 10px 0;
		height: 110px;

		.row {
			height: 100%;

			.btn.btn-primary {
				margin: auto 15px;
			}

			p.top-contacts {
				font-weight: $font-weight-bold;
				font-size: $small;
				position: absolute;
				bottom: -20px;
				right: 40px;

				em {
					font-weight: $font-weight-bold;
					text-transform: capitalize;
					font-style: normal;
					font-size: $small;
				}

				strong {
					font-weight: $font-weight-bold;
				}

				a {
					margin-right: 10px;
				}
			}
		}
	}
}