.wp-site-blocks > header {
	background-color: var(--wp-light-bg-color);
	position: fixed;	
	width: 100%;
	z-index: 99;
	left: 0;
	top: 0;

	.strip:nth-child(2) .container {
		position: relative;
		padding: 10px 0;
		height: 110px;

		.row {
			height: 100%;

			.col-lg-8 {
				place-content: flex-end;
			}

			.btn.btn-primary {
				margin: auto 15px;

				@include media-breakpoint-down(xxl) {
					margin-bottom: 30px;
				}

				@include media-breakpoint-down(md) {
					display: none;
				}
			}

			p.top-contacts {
				font-weight: $font-weight-bold;
				font-size: $small;
				position: absolute;
				bottom: -20px;
				right: 40px;

				@include media-breakpoint-down(md) {
					white-space: nowrap;
					padding-left: 10px;
					right: unset;
				}

				em {
					font-weight: $font-weight-bold;
					text-transform: capitalize;
					font-style: normal;
					font-size: $small;
				}

				strong {
					font-weight: $font-weight-bold;
				}

				a {
					margin-right: 10px;
				}
			}
		}
	}

	.dgwt-wcas-search-form {

		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}
}