body.search-results {

    display: block !important;

    .wp-block-search {
        width: 100%;
    }

    .wp-block-query-pagination-previous {
        margin-left: 0;
        margin-right: auto;
    }
    .wp-block-query-pagination-next {
        margin-left: auto;
        margin-right: 0;
    }

    .wp-block-search__button {
        background-color: var(--wp-brand-color);
    }

}