.testimonials_slider {

	&.main {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	&.header {
		padding-bottom: 30px;

		.wp-block-heading {
			color: var(--wp-brand-color);
			font-weight: $weight-bold;
			line-height: normal;			
			font-size: 30px;
		}

		p {
			font-weight: $weight-regular;
			line-height: normal;			
			font-size: $small;
		}
	}

	&.content {

		.swiper-button-prev {
			margin-left: -4rem;

			&::after {
				transform: rotate(180deg);
			}
		}

		.swiper-button-next {
			margin-right: -4rem;
		}

		.swiper-button-next,
		.swiper-button-prev {
			background: var(--wp-light-bg-color);
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			position:absolute;
			display: flex;
			height: 32px;
			width: 32px;
			
			&:after {
				content:"";
				background-image: url("../../assets/img/svg/btn-r-b-slider.svg");
				background-repeat: no-repeat;	
				background-position: center;
				background-size: cover;
				position: relative;
				display: block;
				height: 10px;
				width: 14px;
			}
			
			.swiper-navigation-icon {
				display: none;
			}
		}
	}

	.testimonial-list.swiper-wrapper {

		.swiper-slide {
			background-color: var(--wp-light-bg-color);
			border-radius: 10px;
			min-height: 290px;
			padding: 30px;			

			.testimonial-list{
				&__item {
					justify-content: space-between;
					flex-direction: column;
					align-items: start;
					min-height: 220px;
					display: flex;

					&--text {
						font-size: 20px;
						font-weight: 700;
					}
					.testimonial-description {
						font-family: $body-font;
						padding-bottom: 20px;
						font-weight: 400;
						margin-top: auto;
						font-size: 14px;

						&::before {
							content:"";
							background-image: url("../../assets/img/svg/quote-left-black.svg");
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;                     
							margin-bottom: 10px;
							position: relative;
							display: block;
							height: 20px;     
							width: 45px;
						}

						p {
							opacity: .5;
						}
					}
				}
				
				&__container {
					flex-wrap: nowrap;
					display: flex;

					.subcontainer {						
						justify-content: center;
						align-items: center;
						display: flex;

						.testimonial-meta {							
							flex-direction: column;
							padding-left: 10px;
							display: flex;

							.testimonial {
								&-name {
									font-family: $body-font;
									font-size: 16px;
									font-weight: 700;
								}
								&-role {
									font-weight: $weight-regular;
									font-family: $body-font;			
									font-size: $small;
									opacity: .5;
								}
							}
						}
					}

					&--image {

						img {
							max-width: 60px;
							max-height: 60px;
							border-radius: 50%;
						}
					}					
				}
			}
		}
	}
}