.testimonials_slider {

    &.main {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    &.header {

        padding-bottom: 30px;

        .wp-block-heading {
            font-size: 30px;
            font-weight: 700;
            line-height: normal;
            color: var(--wp-brand-color);
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }

    &.content {
        .swiper-button-prev {
            margin-left: -4rem;
            &::after {
                transform: rotate(180deg);
            }
        }
        .swiper-button-next {
            margin-right: -4rem;
        }
        .swiper-button-next,
        .swiper-button-prev {
            position:absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background: var(--wp-light-bg-color);
            border-radius: 50%;
            &:after {
                content:"";
                background-image: url("../../assets/img/svg/btn-r-b-slider.svg");
                background-repeat: no-repeat;
                background-size: conver;
                background-position: center;
                display: block;
                position: relative;
                width: 32px;
                height: 20px;
            }
            
            .swiper-navigation-icon {
                display: none;
            }
        }
    }

    .testimonial-list.swiper-wrapper {
        .swiper-slide {
            background-color: var(--wp-light-bg-color);
            border-radius: 10px;
            padding: 30px;
            min-height: 290px;

            .testimonial-list{
                &__item {
                    min-height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    &--text {
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .testimonial-description {
                        font-family: "Albert Sans";
                        font-size: 14px;
                        font-weight: 400;
                        opacity: .5;

                        margin-top: auto;
                        padding-bottom: 20px;

                        &::before {
                            content:"";
                            background-image: url("../../assets/img/svg/quote-left-black.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            display: block;
                            position: relative;
                            width: 45px;
                            height: 20px;
                            margin-bottom: 10px;
                        }
                    }
                }

                
                &__container {
                    flex-wrap: nowrap;
                    display: flex;

                    .subcontainer {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .testimonial-meta {
                            display: flex;
                            flex-direction: column;
                                padding-left: 10px;
                            .testimonial {
                                &-name {
                                    font-family: "Albert Sans";
                                    font-size: 16px;
                                    font-weight: 700;
                                }
                                &-role {
                                    font-family: "Albert Sans";
                                    font-size: 14px;
                                    font-weight: 400;
                                    opacity: .5;
                                }
                            }
                        }
                    }

                    &--image {
                        img {
                            max-width: 60px;
                            max-height: 60px;
                            border-radius: 50%;
                        }
                    }
                    
                }
            }
        }
    }

}