/* Custom templates / patterns */
.tpl {

	&__get-in-touch {
		background-color: $brandcolor;
		position: relative;
		overflow: hidden;
		padding: 60px 0;

		&::before,
		&::after {
			content:'';
			background: transparent url('../../assets/img/svg/bg-vector.svg') center / cover no-repeat;
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
		}
		
		&::before {
			opacity: 0.3;
			z-index: 1;
			left: -74%;
			top: -74%;
		}

		&::after {
			bottom: -64%;
			right: -64%;
		}

		.wp-block-gallery {
			margin: 140px 0 40px 40px;
			transition: all .3s ease;
			width: fit-content;
			float: right;

			&:first-child {
				transform: translateX(0);
				transition: all .3s ease;
				position: absolute;	
				left: 120px;
				opacity: 0;
			}

			@include media-breakpoint-down(xl) {
				margin: 60px auto;
			}

			.wp-block-image {

				&.is-style-rounded {
					border: rgba(255, 255, 255, 0.2) solid 22px;
					border-radius: 100%;
					height: 300px;
					width: 300px;

					&:nth-child(2) {
						margin-left: -120px !important;
					}

					img {
						aspect-ratio: 1 / 1;
						object-fit: cover;
					}
				}
			}

			&:last-child {
				transition: all .3s ease;				
				z-index: 1;
			}
		}

		.col:hover {

			@include media-breakpoint-up(xl) {

				.wp-block-gallery:first-child {
					animation: slide-in-left 1s both;
					animation-direction: alternate;
					z-index: 2;				
				}

				.wp-block-gallery:last-child {
					transform: translateX(0);
					z-index: 3;
				}
			}
		}
	}

	&__ico-cards {
		position: relative;
		padding-top: 40px;

		.row {
			--bs-gutter-x: 1.5rem;
			--bs-gutter-y: 1.5rem;
		}

		hr {
			margin-top: 58px;
		}
	}

	&__about-txt2-img {
		position: relative;
		max-width: 1200px;
	}
	
	&__woo-search-cat {
		padding-right: 0;
		padding-left: 0;		

		.dgwt-wcas-search-wrapp {

			.dgwt-wcas-sf-wrapp {
				border: 1px solid #00000040;
				padding-left: 50px;

				button.dgwt-wcas-search-submit {
					background: transparent url('../../assets/img/svg/search.svg') center / 24px no-repeat;
					left: 0 !important;
				}
			}
		}
	}
}