.trusted_grid {
    background-color: var(--wp-light-bg-color);
    
    &.people {
        overflow: hidden;
        padding: 100px 0 50px;
        @include media-breakpoint-up(md) {
            padding: 300px 0 50px;
        }
        > .row{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 60px;
            > .col {
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(9) {
                    margin-top: -250px;
                }

                figure {
                    margin-bottom: 0;
                    @include media-breakpoint-up(xl) {
                        cursor: pointer;
                        &:hover {
                            transform: scale(.90);
                            transition: transform 0.3s ease-in-out;
                        }
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                &:nth-child(1),
                &:nth-child(5) {
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -230px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        height: 220px;
                        background-image: url('../../assets/img/svg/dotted-line-down.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        overflow: visible;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: -230px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        height: 220px;
                        background-image: url('../../assets/img/svg/dotted-line.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }


                //ROW TOP
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        height: 220px;
                        background-image: url('../../assets/img/svg/dotted-line.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:nth-child(2),
                &:nth-child(4){
                    &::after {
                        top: -100px;
                    }
                }

                &:nth-child(3){
                    &::after {
                        top: -230px;
                    }
                }

                //ROW BOTTOM
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 2px;
                        height: 220px;
                        background-image: url('../../assets/img/svg/dotted-line-down.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        overflow: visible;
                    }
                }

                &:nth-child(7),
                &:nth-child(9){
                    &::before {
                        bottom: -100px;
                    }
                }

                &:nth-child(8){
                    &::before {
                        bottom: -230px;
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            > .row{
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 60px;
                > .col {
                    &:nth-child(6),
                    &:nth-child(10) { 
                        display: none;
                    }


                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(7),
                    &:nth-child(9) {
                        margin-top: 0;
                    }

                    &:nth-child(1),
                    &:nth-child(5) {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(7),
                    &:nth-child(8),
                    &:nth-child(9) {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) { 
            > .row{ 
                grid-template-columns: repeat(2, 1fr);
            }  
        }
    }

    &.headers {
        padding-top: 40px;
       .row > .col {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .btn {
                margin: 0 auto;
            }
        }

        .wp-block-heading {
            font-weight: 800;
            font-size: 45px;
            line-height: 105%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--wp-brand-color);
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--bs-body-colour);
            opacity: .5;;
        }
    }
}