<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:spacer {"height":"210px"} --><div style="height:210px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:group {"tagName":"div"},"className":"wp-container boxed","layout":{"inherit":true}} -->
<div class="wp-block-group wp-container container-boxed">
	<!-- wp:spacer {"height":"150px"} --><div style="height:150px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
	<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"120px"}}} --><h1 class="has-text-align-center" id="page-not-found" style="font-size:120px"><del>404</del></h1><!-- /wp:heading -->
	<!-- wp:spacer {"height":"20px"} --><div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
	<!-- wp:html -->
		<p class="text-center">We're very sorry, but we couldn't find the page: <span id="geturl" style="font-weight:700"></span><script>document.getElementById("geturl").innerHTML = window.location.href;</script></p><br>
		<a class="btn btn-primary btn-center btn-back-home" href="./" title="wp-link" style="margin:20px auto;max-width:fit-content;display:block;">Back to the homepage</a>
	<!-- /wp:html -->
	<!-- wp:spacer {"height":"70px"} --><div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","width":40,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","className":"search-box boxed"} /-->
	<!-- wp:spacer {"height":"250px"} --><div style="height:250px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
</div>
<!-- /wp:group -->
<!-- wp:spacer {"height":"70"} --><div style="height:70" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:template-part {"slug":"footer"} /-->