<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:spacer {"height":"150px"} --><div style="height:150px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:shortcode -->[custom_hero_shop]<!-- /wp:shortcode -->
<!-- wp:areoi/strip {"block_id":"edbbd4b5-5840-437f-aa1a-f894a60bbc23","className":"main-container"} -->
	<!-- wp:areoi/container {"block_id":"9d6d33c8-9ff8-40c9-9af8-411d3be51ea2","height_dimension_xs":"100","height_unit_xs":"%"} -->
		<!-- wp:areoi/row {"block_id":"512a3097-b352-4acf-8cc1-9f76adfa0538","height_dimension_xs":"100","height_unit_xs":"%"} -->
			<!-- wp:areoi/column {"block_id":"889401c5-03f5-431e-b9ae-e113ab2ef528"} -->
			 	<!-- wp:spacer {"height":"40px"} --><div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
				<!-- wp:yoast-seo/breadcrumbs /-->
				<!-- wp:separator {"className":"is-style-wide","style":{"color":{"background":"#00000021"}}} --><hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#00000021;color:#00000021"/><!-- /wp:separator -->
				<!-- wp:spacer {"height":"40px"} --><div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
				<!-- wp:areoi/container {"block_id":"38276e92-bf36-4ea0-a933-45b0a9036d76","padding_right_xs":"0","padding_left_xs":"0","metadata":{"categories":["wp-patterns-main"],"patternName":"woo-search-cat","name":"WooCommerce Products Search \u0026 Categories"},"className":"tpl__woo-search-cat"} -->
					<!-- wp:areoi/row {"block_id":"6ee0205c-0198-4103-aa30-26f08e113255"} -->
						<!-- wp:areoi/column {"block_id":"479b6a13-4a30-40cb-aa2f-aad3fe971820","col_xs":"col-12","col_md":"col-md-5"} -->
							<!-- wp:fibosearch/search /-->
						<!-- /wp:areoi/column -->
						<!-- wp:areoi/column {"block_id":"c8f564b4-c298-475d-b35f-56422199a24d","col_xs":"col-12","col_md":"col-md-7"} -->
							<!-- wp:woocommerce/product-categories {"hasCount":false,"hasImage":true,"className":"is-style-prod-cat-h","style":{"elements":{"link":{"color":{"text":"#000000a1"}}},"color":{"text":"#000000a1"}}} /-->
						<!-- /wp:areoi/column -->
					<!-- /wp:areoi/row -->
					<!-- wp:separator {"className":"is-style-wide","style":{"color":{"background":"#0000002e"}}} --><hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#0000002e;color:#0000002e"/><!-- /wp:separator -->
				<!-- /wp:areoi/container -->
				<!-- wp:spacer {"height":"30px"} --><div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
				<!-- wp:woocommerce/legacy-template {"template":"archive-product"} /-->
				 <!-- wp:shortcode -->[load_more_woo_products_archive]<!-- /wp:shortcode -->
				<!-- wp:woocommerce/product-categories {"isDropdown":true,"className":"hidden"} /-->
			<!-- /wp:areoi/column -->
		<!-- /wp:areoi/row -->
	<!-- /wp:areoi/container -->
<!-- /wp:areoi/strip -->
<!-- wp:spacer {"height":"40px"} --><div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:template-part {"slug":"footer"} /-->