<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:spacer {"height":"230px"} --><div style="height:230px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:areoi/strip {"block_id":"edbbd4b5-5840-437f-aa1a-f894a60bbc23","className":"main-container"} -->
	<!-- wp:areoi/container {"block_id":"9d6d33c8-9ff8-40c9-9af8-411d3be51ea2","height_dimension_xs":"100","height_unit_xs":"%"} -->
		<!-- wp:areoi/row {"block_id":"512a3097-b352-4acf-8cc1-9f76adfa0538","height_dimension_xs":"100","height_unit_xs":"%"} -->
			<!-- wp:areoi/column {"block_id":"889401c5-03f5-431e-b9ae-e113ab2ef528"} -->
			 	<!-- wp:spacer {"height":"40px"} --><div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
				<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
				<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
				<main class="wp-block-group">
					<!-- wp:woocommerce/store-notices /-->
					<!-- wp:post-title {"align":"wide", "level":1} /-->
					<!-- wp:shortcode -->[woocommerce_cart]<!-- /wp:shortcode -->
				</main>
				<!-- /wp:group -->
			<!-- /wp:woocommerce/page-content-wrapper -->
			<!-- /wp:areoi/column -->
		<!-- /wp:areoi/row -->
	<!-- /wp:areoi/container -->
<!-- /wp:areoi/strip -->
<!-- wp:template-part {"slug":"footer"} /-->