<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:spacer {"height":"140px"} --><div style="height:140px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
<!-- wp:shortcode -->[custom_hero_blog]<!-- /wp:shortcode -->
<!-- wp:areoi/container {"block_id":"6ff0d95c-c224-449e-92a7-8ff81c1ead8a","className":"main"} -->
	<!-- wp:areoi/row {"block_id":"9b19c11c-6a30-4ae0-8e92-d33dbc3422fd","className":"breadcrumb"} -->
		<!-- wp:areoi/column {"block_id":"8887f4b5-237d-4977-86d5-98ea0eca6148"} -->
			<!-- wp:yoast-seo/breadcrumbs /-->
			<!-- wp:separator {"className":"is-style-wide"} -->
				<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
			<!-- /wp:separator -->
		<!-- /wp:areoi/column -->
	<!-- /wp:areoi/row -->
	<!-- wp:areoi/row {"block_id":"ef509c52-1fae-4f93-91c1-30340dc64f7d","className":"header-more"} -->
		<!-- wp:areoi/column {"block_id":"eb4ea338-a529-4909-9162-f759779f7f00","col_xl":"col-xl-6"} -->
			<!-- wp:heading -->
				<h2 class="wp-block-heading">All Articles</h2>
			<!-- /wp:heading -->
			<!-- wp:paragraph -->
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<!-- /wp:paragraph -->
		<!-- /wp:areoi/column -->
	<!-- /wp:areoi/row -->
	<!-- wp:areoi/row {"className":"header-tools"} -->
		<!-- wp:areoi/column {"block_id":"023d0b36-6936-4ff2-b4b9-eb215f337157","col_xl":"Default"} -->
			<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","buttonText":"Search","buttonPosition":"no-button"} /-->
			<!-- wp:shortcode -->
				[cat_listed_cpt]
			<!-- /wp:shortcode -->
		<!-- /wp:areoi/column -->
	<!-- /wp:areoi/row -->
	<!-- wp:separator {"className":"is-style-wide"} -->
		<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
	<!-- /wp:separator -->
    <!-- wp:areoi/row {"block_id":"d7e22e25-20c2-44ed-bf75-b107fc8bbfae","className":"shortcode-articles"} -->
		<!-- wp:areoi/column {"block_id":"2157d6b1-bc3c-4b22-a71a-1993d10354e3"} -->
			<!-- wp:shortcode -->
				[posts_cpt]
			<!-- /wp:shortcode -->
		<!-- /wp:areoi/column -->
	<!-- /wp:areoi/row -->
    <!-- wp:areoi/row {"block_id":"53b41f91-3cdf-4a0a-a3f4-a3c77b1369b2"} -->
		<!-- wp:areoi/column {"block_id":"ea7320e0-b243-4eac-bcf0-588271534dcb"} -->
			<!-- wp:areoi/button {"anchor":"seeMore","block_id":"7c95b741-2b97-47c1-89a8-3eabf536f6a4","text":"View More","className":"btn-secondary"} /-->
		<!-- /wp:areoi/column -->
	<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->
<!-- wp:template-part {"slug":"footer"} /-->