<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:spacer {"height":"230px"} -->
<div style="height: 230px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:areoi/strip {"block_id":"edbbd4b5-5840-437f-aa1a-f894a60bbc23","className":"main-container"} -->
<!-- wp:areoi/container {"block_id":"9d6d33c8-9ff8-40c9-9af8-411d3be51ea2","height_dimension_xs":"100","height_unit_xs":"%"} -->
<!-- wp:areoi/row {"block_id":"512a3097-b352-4acf-8cc1-9f76adfa0538","height_dimension_xs":"100","height_unit_xs":"%"} -->
<!-- wp:areoi/column {"block_id":"889401c5-03f5-431e-b9ae-e113ab2ef528"} -->
<!-- wp:spacer {"height":"50px"} -->
<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:yoast-seo/breadcrumbs /-->
<!-- wp:separator {"className":"is-style-wide","style":{"color":{"background":"#00000021"}}} -->
<hr
  class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide"
  style="background-color: #00000021; color: #00000021"
/>
<!-- /wp:separator -->
<!-- wp:spacer {"height":"40px"} -->
<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
<!-- wp:spacer {"height":"40px"} -->
<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug":"delivery"} /-->
<!-- wp:spacer {"height":"40px"} -->
<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:shortcode -->[product_reviews]<!-- /wp:shortcode -->
<!-- wp:spacer {"height":"20px"} -->
<div style="height: 20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:wp/soc-share {"icoColor":"#f28c2e","icoColorHover":"#f28d2e5c"} -->
<div id="wp-soc-share-wrap" class="wp-block-wp-soc-share">
  <div class="wp-soc-share">
    <div class="wp-soc-share_item wp-soc-share_item--ln">
      <a href="" rel="noopener"></a>
    </div>
    <div class="wp-soc-share_item wp-soc-share_item--fb">
      <a href="" rel="noopener"></a>
    </div>
    <div class="wp-soc-share_item wp-soc-share_item--xtw">
      <a href="" rel="noopener"></a>
    </div>
    <div class="wp-soc-share_item wp-soc-share_item--threads">
      <a href="" rel="noopener"></a>
    </div>
    <div class="wp-soc-share_item wp-soc-share_item--email">
      <a href=""></a>
    </div>
    <div class="wp-soc-share_item wp-soc-share_item--link">
      <span><input type="text" value="" id="copyInput" /></span>
    </div>
    <style>
      #wp-soc-share-wrap .wp-soc-share_item {
        margin-right: 4px;
      }
      #wp-soc-share-wrap .wp-soc-share_item a,
      #wp-soc-share-wrap .wp-soc-share_item span {
        height: 24px !important;
      }
      #wp-soc-share-wrap .wp-soc-share_item svg path {
        fill: #f28c2e !important;
      }
      #wp-soc-share-wrap .wp-soc-share_item a:hover svg path,
      #wp-soc-share-wrap .wp-soc-share_item span:hover svg path {
        fill: #f28d2e5c !important;
      }
    </style>
  </div>
</div>
<!-- /wp:wp/soc-share -->
<!-- wp:spacer {"height":"40px"} -->
<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:areoi/column -->
<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->
<!-- /wp:areoi/strip -->
<!-- wp:template-part {"slug":"footer"} /-->
