.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
  
.infinite {
	animation-iteration-count: infinite;
}

.delay-025 { animation-delay: 0.25s; }
.delay-050 { animation-delay: 0.50s; }
.delay-115 { animation-delay: 1.15s; }

/*  
	Fade In - animation: fade-in 1s linear both; 
*/

@include keyframes(fade-in) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1 !important;
	}
}

.fade-in {
	animation-name: fade-in;
}

/*  
	Grow Line - animation: grow-line 1s forwards;
*/

@include keyframes(grow-line) {

	0% {
		width: 0;
	}

	100% {
		width: 100%;
		opacity: 1;
	}
}

/*  
	Slide In Right - animation: slide-in-right 0.4s both;
*/

@include keyframes(slide-in-right) {

	0% {
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


/*  
	Slide In Left - animation
*/
@keyframes slide-in-left {

	0% {
		transform: translateX(0);
		opacity: 0;
		z-index: 2;
	}

	90%,100% {
		transform: translateX(390px);
		opacity: 1;
	}
}