@import '_components/general';
@import '_components/footer';
@import '_components/header';
@import '_components/form';
@import '_components/buttons';
@import '_components/blocks';
@import '_components/menus.scss';
@import '_components/trusted_leaders_grid';
@import '_components/comp-sectors';
@import '_components/testimonials_slider.scss';
@import '_components/_blog-post';
@import '_components/tpl.scss';
@import '_components/search';
@import '_components/woo';