body.wp-admin {

    .editor-visual-editor .is-root-container {
		padding: 0 30px;
	}

	.wp-block-query {
		max-width: 620px;
	}

	.wp-block-video video {
		max-height: 400px;
	}

	.block-editor-block-list__layout.is-root-container .wp-block-areoi-card-body > * {
		color: black !important;
	}

	.block-editor-block-list__layout.is-root-container .btn {
		
		&.btn {
			
			&-primary {
				background: #F28C2E !important;
				color: white !important;

				&:hover {
					background: #F28C2E !important;
					color: white !important;
				}
			}

			&-secondary {
				background: white !important;
				color: black !important;

				&:hover {
					background: white !important;
					color: black !important;
				}
			}
		}		
	}

	.wp-block-hero-section-block__content.faux-link__element {
		padding: 100px 0;

		& > * {
			color: white;
		}

		.wp-block-heading {
			font-size: 40px;
			font-weight: 800;
			max-width: 520px;
		}

		.btn.btn-primary {
			background-color: #F28C2E !important;
			border-color: #F28C2E !important;
		}

		p {
			max-width: 520px;
			font-weight: 700;
			font-size: 20px;			
		}
	}

	.wp-block-cta-section-block {
		position: relative;

		&::before {
			content: '';
			background: linear-gradient(270deg, rgba(0, 0, 0, 0) 32.47%, rgba(0, 0, 0, 0.56) 88.26%);
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 1;
			left: 0;
			top: 0;
		}

		&__content {
			position: relative;
			z-index: 2;

			:where(*) {
				color: white !important;
			}
		}
	}

	.block-editor-block-list__layout.is-root-container .card-header, .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .card-header,
	.block-editor-block-list__layout.is-root-container .card-footer, .editor-styles-wrapper .block-editor-block-list__layout.is-root-container .card-footer {
		background: transparent !important;
	}

	.wp-block-gallery.two-images-side-by-side {
		margin: 80px 40px !important;
		width: fit-content;

		.wp-block-image {

			&.is-style-rounded {
				border: rgba(255, 255, 255, 0.2) solid 22px;
				width: 300px !important;
				border-radius: 100%;
				height: 300px;				

				&:nth-child(2) {
					margin-left: -120px !important;
				}

				img {
					aspect-ratio: 1 / 1;
					object-fit: cover;
				}
			}
		}
	}

	button.wsf-button {
		background-color: black;
		max-width: fit-content;
		color: white;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 1 !important;
	}

	.wc-block-product-categories.is-style-prod-cat-h {

		ul.wc-block-product-categories-list--has-images {
			display: inline-flex; 
			flex-wrap: wrap;
			gap: 10px;					   

			.wc-block-product-categories-list-item {
				border: 1px solid #00000040;
				border-radius: 2px;
				width: fit-content;
				position: relative;
				display: flex;
				margin: 0;

				a {
					line-height: 1;
					padding: 10px;
					width: 100%;
				}

				&__image {
					margin: -1px 5px 0 0;
					max-width: unset;
					line-height: 1;						
					border: 0;

					img {
						border: 0;
					}
				}

				&__name {
					color: #00000080;
					line-height: 1;
				}
			}
		}
	}
}